/*
pour laisser un commentaire
*/
/*
*
{
    margin: 0;
    padding: 0;
}*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    font: inherit;
    vertical-align: baseline;

}


body
{
    background-color: rgba(0, 0, 255, 0.479);

}

header{
    background-color: brown;
    height: 20vh; /* vh / 200px = 20vh le VH indique une valeur plus souple que le px */ 
}

nav {
    background-color: burlywood;
    height: 20vh;
}

main {
    background-color: coral;
    height: 20vh;
}

aside {

background-color: darkgreen;
height: 20vh;
}

section {

    background-color: darkorange;
    height: 20vh;
}

div {
    background-color: darkslategray;
    height: 20vh;
}

span {
    background-color: darkturquoise;
    height: 20vh;
}

article {
    background-color: floralwhite;
    height: 20vh;
}

footer {
    background-color: gold;
    height: 20vh;
}